<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">课程系统</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="{{#if isIndex}} active {{/if}}"><a href="/">index</a></li>
                <li class="{{#if isAbout}} active {{/if}}"><a href="/about">about</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">课程 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ideas">课程列表</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/ideas/add">添加课程</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="height: 50px;"></div>