<div class="jumbotron">
    <div class="container" style="text-align: center;">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="/ideas/add" role="button">添加新课程</a></p>
    </div>
</div>